@import 'bootstrap/dist/css/bootstrap.min.css';
body{
  margin: 10px;
}
.cont{
  border: 1px solid black;
}

.book{
  /* background: rgb(255, 118, 118); */
  /* border-top: 1px solid black; */
}

.text-right{
  text-align: right;
}

.text-left{
  text-align: left;
}

.bg-1{
  background: rgb(190, 190, 190);
}

.bg-2{
  background: rgb(175, 175, 175);
}


body{
  background: #282F44;
  /* color: #9D91A3; */
  color: white;
}

.table{
  margin-top: 75px;
}
/* .rdt_TableRow{
  cursor: pointer;
  background: red;
}

.rdt_Table{
  background: red;
}

.rdt_TableHeader{
  background: blue;
} */

.rdt_TableHeader{
  border-radius: 50px;
}